h1 {
    text-align: center;
    background-color: darkgrey;
}

h5 {
    text-align: center;
    background-color: darkgray;
}

img {
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #555;
}

h4 {
    text-align: center;
    color: black;
    font-style: normal;
    font-size: large;
}

.centrar-listas {
    text-align: center;
}

.centrar-listas ul,
.centrar-listas ol {
    text-align: left;
    display: inline-block;
}

p {
    text-align: center;
}